<!-- header section -->
<section
  class="text-center md:text-start md:relative bg-cyan-950 md:h-56 px-5 md:px-10 py-9 md:mb-24"
>
  <h1 class="text-myTeal text-xl font-normal mb-5">
    Welcome back, {{ user?.first_name }}
  </h1>

  <!-- Cards -->
  <div
    class="flex items-center justify-center md:justify-between gap-4 w-full flex-wrap md:flex-nowrap h-50 md:-bottom-2.5 md:left-0 md:mt-24"
  >
    <!-- Sales card -->
    <div class="bg-white rounded-lg w-80 h-32 flex items-center gap-4 px-6">
      <img
        src="../../../assets/images/sales.svg"
        alt="sales svg"
        class="w-14 h-14"
      />
      <div>
        <p class="text-cyan-950 text-opacity-60 text-sm font-normal">
          Total Sales
        </p>
        <p class="text-cyan-950 text-[28px] font-bold">
          <span class="text-sm">Ksh</span> {{ total_sales }}
        </p>
      </div>
    </div>

    <!-- Customers card -->
    <div class="bg-white rounded-lg w-80 h-32 flex items-center gap-4 px-6">
      <img
        src="../../../assets/images/customers.svg"
        alt="customers svg"
        class="w-14 h-14"
      />
      <div>
        <p class="text-cyan-950 text-opacity-60 text-sm font-normal">
          Total Customers
        </p>
        <p class="text-cyan-950 text-[28px] font-bold">{{ customers }}</p>
      </div>
    </div>

    <!-- Averages card -->
    <div class="bg-white rounded-lg w-80 h-32 flex items-center gap-4 px-6">
      <img
        src="../../../assets/images/average.svg"
        alt="average svg"
        class="w-14 h-14"
      />
      <div>
        <p class="text-cyan-950 text-opacity-60 text-sm font-normal">
          Average Purchase
        </p>
        <p class="text-cyan-950 text-[28px] font-bold">
          <span class="text-sm">Ksh</span> {{ average_purchase }}
        </p>
      </div>
    </div>

    <!-- Balance card -->
    <div class="bg-white rounded-lg w-80 h-32 flex items-center gap-4 px-6">
      <img
        src="../../../assets/images/balance.svg"
        alt="balance svg"
        class="w-14 h-14"
      />
      <div>
        <p class="text-cyan-950 text-opacity-60 text-sm font-normal">
          Float Airtime Balance
        </p>
        <p class="text-cyan-950 text-[28px] font-bold">
          <span class="text-sm">Ksh</span> {{ balance }}
        </p>
      </div>
    </div>
  </div>
</section>

<!-- data table -->
<section class="px-5 py-4 md:px-10 md:py-9">
  <!-- show loading animation -->
  <div *ngIf="isLoading" class="w-16 mx-auto relative">
    <p
      class="w-16 h-16 border-t-4 border-cyan-950 border-solid rounded-full animate-spin"
    ></p>
    <p class="text-cyan-950 py-2">Loading...</p>
  </div>

  <!-- Show table data -->
  <app-paginated-table
    *ngIf="!isLoading"
    [tableData]="tableData"
  ></app-paginated-table>
</section>
