<div class="overflow-x-auto rounded-bl-xl rounded-xl bg-white">
  <!-- table title -->
  <p class="bg-cyan-950 text-white text-xl font-bold px-8 py-3.5">
    Latest Transactions
  </p>

  <!-- the table -->
  <table class="min-w-full min-h-[250px] border border-gray-200 mb-3.5">
    <thead class="bg-zinc-100 text-cyan-950">
      <tr class="tex-center">
        <th class="p-2">#</th>
        <th class="p-2">Mobile</th>
        <th class="p-2">Amount</th>
        <th class="p-2">AirTimeFor</th>
        <th class="p-2">Payment Status</th>
        <th class="p-2">AirTime Status</th>
        <th class="p-2">Date</th>
        <th class="p-2">Time</th>
        <th class="p-2">Receipt Number</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      <!-- Add your table rows here -->
      <tr
        *ngFor="let item of tableData | paginate : config"
        class="text-center border-b border-slate-400"
      >
        <td class="p-2">{{ item.title }}</td>
        <td class="p-2">{{ item.mobile }}</td>
        <td class="p-2">{{ item.amount }}</td>
        <td class="p-2">{{ item.airTimeForPayment }}</td>
        <td class="p-2">{{ item.status }}</td>
        <td class="p-2">{{ item.airTimeStatus }}</td>
        <td class="p-2">{{ item.date }}</td>
        <td class="p-2">{{ item.time }}</td>
        <td class="p-2">{{ item.receiptNumber }}</td>
      </tr>
    </tbody>
  </table>

  <!-- table pagination -->
  <div class="flex items-center justify-between px-6">
    <p class="">
      Showing {{ (config.currentPage - 1) * config.itemsPerPage + 1 }} to
      {{ config.currentPage * config.itemsPerPage }} of
      {{ tableData.length }} entries
    </p>

    <pagination-controls
      class=""
      [id]="config.id"
      [maxSize]="4"
      [directionLinks]="true"
      [autoHide]="false"
      previousLabel=""
      nextLabel=""
      (pageChange)="onPageChange($event)"
    ></pagination-controls>
  </div>
</div>
