<div class="overflow-x-auto rounded-bl-xl rounded-xl bg-white">
  <!-- table title -->
  <!-- <p class="bg-cyan-950 w-full text-white text-xl font-bold px-8 py-3.5">
    Latest Transactions
  </p> -->

  <!-- the table -->
  <div
    class="w-full bg-cyan-950 text-white text-left text-sm md:text-xl font-bold px-10 py-3.5"
  >
    <div class="p-2 flex items-center justify-between">
      <p>Latest Transactions</p>
      <p
        *ngIf="selectedStatus == 'UNPAID'"
        class="text-sm underline text-green-500 hover:cursor-pointer"
        (click)="checkTransaction(undefined)"
      >
        Check All Pending
      </p>
    </div>
  </div>
  <table class="min-w-full min-h-[250px] border mb-3.5">
    <thead class="bg-zinc-100 text-cyan-950">
      <tr class="tex-center">
        <th class="p-2">#</th>
        <th class="p-2">Mobile</th>
        <th class="p-2">Amount</th>
        <th class="p-2">AirTimeFor</th>
        <th class="p-2">Payment Status</th>
        <th class="p-2">AirTime Status</th>
        <th class="p-2">Date</th>
        <th class="p-2">Time</th>
        <th class="p-2">Receipt Number</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      <!-- Add your table rows here -->
      <tr
        *ngFor="let item of tableData | paginate : config; let i = index"
        class="text-center text-cyan-950 border-b border-slate-400"
      >
        <td class="p-2">{{ i + 1 }}</td>
        <td class="p-2">
          <div
            *ngIf="item.mobile == null"
            class="flex items-center justify-center gap-2 text-2xl text-neutral-600"
          >
            -
          </div>
          {{ item.mobile }}
        </td>
        <td class="p-2 text-start">Ksh {{ item.amount }}</td>
        <td class="p-2">{{ item.airtime_for }}</td>
        <td class="p-2">
          <!-- paid status -->
          <div
            *ngIf="item.payment_status == 'PAID'"
            class="flex items-center justify-center gap-2 text-green-400"
          >
            <div class="w-2 h-2 rounded-full bg-green-400"></div>
            {{ item.payment_status }}
          </div>

          <!-- pending status -->
          <div
            *ngIf="item.payment_status == 'PENDING'"
            class="flex items-center justify-center gap-2 text-red-600 hover:cursor-pointer"
            (click)="openModal(item)"
          >
            <div class="w-2 h-2 rounded-full bg-red-600"></div>
            {{ item.payment_status }}
          </div>

          <!-- failed status -->
          <div
            *ngIf="item.payment_status == 'UNPAID'"
            class="flex items-center justify-center gap-2 text-red-600"
          >
            <div class="w-2 h-2 rounded-full bg-red-600"></div>
            {{ item.payment_status }}
          </div>

          <!-- Null status -->
          <div
            *ngIf="item.payment_status == null"
            class="flex items-center justify-center gap-2 text-2xl text-neutral-600"
          >
            -
          </div>
        </td>
        <td class="p-2">
          <!-- Delivered status -->
          <div
            *ngIf="item.airtime_status == 'DELIVERED'"
            class="flex items-center justify-center gap-2 text-green-400"
          >
            <div class="w-2 h-2 rounded-full bg-green-400"></div>
            {{ item.airtime_status }}
          </div>

          <!-- Sent status -->
          <div
            *ngIf="item.airtime_status == 'SENT'"
            class="flex items-center justify-center gap-2 text-blue-400"
          >
            <div class="w-2 h-2 rounded-full bg-blue-400"></div>
            {{ item.airtime_status }}
          </div>

          <!-- Failed status -->
          <div
            *ngIf="item.airtime_status == 'FAILED'"
            class="flex items-center justify-center gap-2 text-red-600"
          >
            <div class="w-2 h-2 rounded-full bg-red-600"></div>
            {{ item.airtime_status }}
          </div>

          <!-- Queued status -->
          <div
            *ngIf="item.airtime_status == 'QUEUED'"
            class="flex items-center justify-center gap-2 text-violet-700"
            (click)="showPendingModal = true"
          >
            <div class="w-2 h-2 rounded-full bg-violet-700"></div>
            {{ item.airtime_status }}
          </div>

          <!-- Null status -->
          <div
            *ngIf="item.airtime_status == null"
            class="flex items-center justify-center gap-2 text-2xl text-neutral-600"
          >
            -
          </div>
        </td>
        <td class="p-2">{{ item.date }}</td>
        <td class="p-2">{{ item.time }}</td>
        <td class="p-2">
          <!-- Null status -->
          <div
            *ngIf="item.receipt_number == null"
            class="flex items-center justify-center gap-2 text-2xl text-neutral-600"
          >
            -
          </div>
          {{ item.receipt_number }}
        </td>
      </tr>
    </tbody>
  </table>

  <!-- table pagination -->
  <div class="flex items-center justify-between px-4 md:px-6">
    <p class="text-cyan-950 text-sm">
      Showing {{ (config.currentPage - 1) * config.itemsPerPage + 1 }} to
      {{ config.currentPage * config.itemsPerPage }} of {{ totalPages }} entries
    </p>

    <div class="flex items-center">
      <p
        *ngIf="config.currentPage > 1"
        (click)="onPageChange(config.currentPage - 1)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5L8.25 12l7.5-7.5"
          />
        </svg>
      </p>
      <pagination-controls
        class="pt-4"
        [id]="config.id"
        [maxSize]="4"
        [directionLinks]="false"
        [autoHide]="false"
        previousLabel=""
        nextLabel=""
        (pageChange)="onPageChange($event)"
      ></pagination-controls>

      <p
        *ngIf="config.currentPage * config.itemsPerPage < totalPages"
        (click)="onPageChange(config.currentPage + 1)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 4.5l7.5 7.5-7.5 7.5"
          />
        </svg>
      </p>
    </div>
  </div>
</div>

<!-- Modals -->
<!-- Pending modal -->
<app-modal
  *ngIf="showPendingModal"
  (backdropClick)="closeModal()"
  width="500"
  borderColor="blue-900"
>
  <!-- modal header -->
  <div class="bg-cyan-950 text-myTeal text-center rounded-t-2xl p-6 pb-4 mb-9">
    <div class="flex justify-end">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="none"
        class="w-6 h-6 stroke-myTeal hover:cursor-pointer"
        (click)="showPendingModal = false"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </div>
    <h1 class="font-bold text-3xl text-center mb-1">Pending Transaction</h1>
    <p>Airtime For: {{ transactionCheck?.airtime_for }}</p>
  </div>

  <!-- modal body -->
  <div class="">
    <!-- modal table -->
    <div class="w-full mb-10">
      <table class="w-full">
        <thead>
          <tr class="border-b-2 border-black text-cyan-950 text-center">
            <th class="py-4">Mobile</th>
            <th class="py-4">Amount</th>
            <th class="py-4">Date</th>
            <th class="py-4">Time</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-cyan-950 text-center">
            <td class="py-2">{{ transactionCheck?.airtime_for }}</td>
            <td class="py-2">Ksh {{ transactionCheck?.amount }}</td>
            <td class="py-2">{{ transactionCheck?.date }}</td>
            <td class="py-2">{{ transactionCheck?.time }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- modal buttons -->
    <div class="flex items-center center w-full mx-auto mb-9">
      <button
        class="w-64 h-11 mx-auto rounded-full bg-cyan-950 hover:bg-cyan-950 text-myTeal font-bold transition-all duration-200"
        (click)="checkTransaction(transactionCheck?.id)"
      >
        Check Transaction
      </button>
    </div>
  </div>
</app-modal>
