/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.ngx-pagination .current {
    background: #072E41 !important;
    border-radius: 100% !important;
    
}

@media (max-width: 768px) {
    .pagination-previous, .pagination-next {
        padding: 0rem !important;
    }
}
@layer utilities {
    .border-gradient {
      border-image: linear-gradient(90deg, #81AEB8, transparent);
      border-image-slice: 1;
    }
    
  }

